






.Player-Piece21{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece21{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:11%;
    left:95.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece22{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece22{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:22%;
    left:95.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece23{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece23{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:33%;
    left:95.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece24{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece24{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:44%;
    left:95.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece25{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece25{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:55%;
    left:95.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece26{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece26{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:66%;
    left:95.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece27{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece27{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:77%;
    left:95.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece28{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece28{
    display: flex;
    position: absolute;
    height: 11%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:88%;
    left:95.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece29{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece29{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:90.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece30{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece30{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:85.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece31{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece31{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:80.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece32{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece32{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:75.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece33{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece33{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:70.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece34{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece34{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:65.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece35{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece35{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:60.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece36{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece36{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:55.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece37{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece37{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:50.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece38{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece38{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:45.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece39{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece39{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:40.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece40{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece40{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:35.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece41{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece41{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:30.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece42{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece42{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:25.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece43{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece43{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:20.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece44{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece44{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:15.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece45{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece45{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:10.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece46{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece46{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:5.5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece47{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece47{
    display: flex;
    position: absolute;
    height: 10%;
    width:5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:89%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece48{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece48{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:78%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece49{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece49{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:67%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece50{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece50{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:56%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece51{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece51{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:45%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece52{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece52{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:34%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece53{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece53{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgba(21, 8, 141, 0.5);
    top:23%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece54{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: rgb(96, 168, 29);
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece54{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgba(226, 22, 22, 0.5);
    top:12%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}





















