




.Board-Tile-Image{
    display: flex;
    position: absolute;
    height: 90%;
    width: 90%;
    top:5%;
    left: 5%;
    opacity:0.85;
    z-index: 0;
}



.Board-Image1{
    display: flex;
    position: relative;
    height: 77.5%;
    width: 90%;
    left:5%;
    top:11%;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 100px rgba(0,0,0,0.1);
    opacity: 1;
}


.Player-Image{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.Player-Piece1{
    display: flex;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:15%;
    left:15%;
    z-index: 20;
    border: 3px solid black;
    border-radius: 1.7px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
 
    
}


.Board-Piece1{
    display: flex;
    position: absolute;
    height: 11%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:0%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
 
    

}

.Player-Piece2{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece2{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:5%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece3{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece3{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:10%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece4{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece4{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:15%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece5{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece5{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:20%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece6{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece6{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:25%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece7{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece7{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:30%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece8{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece8{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:35%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece9{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece9{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:40%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Board-Piece10{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:45%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece10{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Player-Piece11{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece11{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:50%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece12{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece12{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:55%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece13{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece13{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:60%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece14{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece14{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:65%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece15{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece15{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:70%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece16{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece16{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:85%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece17{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece17{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:75%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece18{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece18{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:80%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece19{
    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece19{
    display: flex;
    position: absolute;
    height: 10%;
    width:4.5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:90%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}

.Player-Piece20{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece20{
    display: flex;
    position: absolute;
    height: 10%;
    width:5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:95%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}




.Player-Piece20{

    display: none;
    position:absolute;
    height: 50%;
    width: 50%;
    background-color: blue;
    top:25%;
    left:25%;
    z-index: 10;
}

.Board-Piece20{
    display: flex;
    position: absolute;
    height: 10%;
    width:5%;
    background-color: rgb(255, 255, 255, 0.5);
    top:0%;
    left:95%;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgb(11, 15, 24);
}