





.Interface1-Container{
    display: none;
    position: absolute;
    background-color: rgb(51, 48, 48);
    height: 20%;
    width: 6.7%;
    top:4.7%;
    left:70.5%;
}

.Interface1{
    display: flex;
    position: absolute;
    background-color: rgb(51, 48, 48);
    height: 97%;
    width: 97%;
    top:1.5%;
    left:1.7%;
}




.Dice-Roll-Image-Container{
    display: none;
    position: relative;
    background-color: rgb(214, 17, 17);
    height: 15%;
    width: 23%;
    top:5.5%;
    left:14.5%;
    box-shadow: 1px 0px 8px rgb(31, 26, 26);
    opacity: 0.9;
    box-shadow: 1px 1px 10px 0px rgb(181, 194, 218);
}




.Interface2-Container{
    display: none;
    position: absolute;
    background-color: rgb(51, 48, 48);
    height: 20%;
    width: 6.5%;
    top:46%;
    left:63.5%;
    box-shadow: 1px 1px 10px 0px rgb(181, 194, 218);
}

.Interface2{
    display: none;
    position: relative;
    background-color: rgb(51, 48, 48);
    height: 97%;
    width: 97%;
    top:1.5%;
    left:1.7%;
}

.Dice-Roll-Button{
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 15%;
    width:25.5%;
    top:5.5%;
    left:6.7%;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 120%;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 1px 0px 8px rgb(77, 74, 74);

}



/*.Dice-Roll-Image-Container{
    display: flex;
    position: relative;
    background-color: rgb(214, 17, 17);
    height: 15%;
    width: 23%;
    top:5.5%;
    left:14.5%;
    box-shadow: 1px 0px 8px rgb(31, 26, 26);
}*/

.Check-Area-Button{
    
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        height: 15%;
        width: 57.5%;
        top:24.5%;
        left:6.7%;
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 120%;
        border-radius: 4px;
        border-width: 1px;
        box-shadow: 1px 0px 8px rgb(77, 74, 74);
    
}