

.Bubble-Chat-Container{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    height:15%;
    width:10%;
    left: 45.5%;
    top:20%;
    z-index: 30;
    opacity: .7;
    border-radius: 6px;
}

.Bubble-Chat-Text{
    display: flex;
    position: absolute;
    background-color: rgb(255, 255, 255);
    height:90%;
    width:90%;
    left: 5%;
    top:5%;
    z-index: 30;
    opacity: 1;
    border-radius: 6px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 120%;
}

.Bubble-Chat-Button1{
    background-color: rgb(255, 255, 255);
    height: 12%;
    width: 20%;
    display: flex;
    position: absolute;
    left:73%;
    top:80%;
    z-index: 45;
    opacity: .9;
    border-radius: 4px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 60%;
}



.body{
    background-color: rgb(51, 48, 48);
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Board-Container{
    background-color: black;
    display: none;
    position: relative;
    height: 50%;
    width: 40%;
    top:5.5%;
    left: 30%;
    box-shadow: .5px .5px 10px .5px rgb(181, 194, 218);
    border-radius: 4px;
   
}

.Board{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    height: 98.5%;
    width: 99%;
    left: 0.5%;
    top:0.7%;
}

.Test-Button{
    background-color: rgb(199, 32, 32);
    display: flex;
    position: relative;
    height: 4%;
    width: 3%;
    top:10%;
    left: 14%;
}

