





.Selected-Top-Center-Door{
    background-color: black;
    height: 5%;
    width: 3%;
    display: flex;
    position: absolute;
    left:48.7%;
    top:25%;
    z-index: 10;
    opacity: 0;
}



.Selected-Top-Center-Door:hover{
    background-color: rgb(0, 0, 0);
    height: 5%;
    width: 3%;
    display: flex;
    position: absolute;
    left:48.8%;
    top:25%;
    z-index: 10;
    opacity: 1;
    -webkit-box-shadow:0px 0px 159px 82px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 159px 82px rgba(255,255,255,1);
box-shadow: 0px 0px 159px 82px rgba(255,255,255,1);
}